* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.Browse-Our {
  text-align: center;
  padding: 50px 20px;
  background: white;
}


.heading-content span {
  display: block;
  font-size: 20px;
  color: black;
  margin-bottom: 10px;
}

.heading-content h2 {
  font-size: 32px;
  font-weight: 700;
  font-family: 'Georgia', serif;
  color:black;
  font-style: italic;
}

.uderline-diamond {
  margin-top: 10px;
  font-size: 20px;
}


.cards {
  width: 100%;
  margin: 40px auto;
  max-width: 90%;
  overflow: auto; 
}

.card {
  width: 30%;
  background:white;
  margin: 1.5%;
  border-radius: 6px;
  padding-bottom: 20px;
  float: left;
  border-style: groove;
}


.image-container img {
  width: 100%;
}


.date-author {
  margin-top: 15px;
  margin-left: 15px;
  font-size: 14px;
  color: gray;
  text-align: left;
}

.date-author span:first-child {
  color: #00bcd4;
  font-weight: bold;
  margin-right: 10px;
  font-style: italic;
}


.card-content-Subject h3 {
  font-size: 18px;
  color:black;
  margin: 15px 20px 10px 20px;
  font-style: italic;
  font-weight: bold;
  text-align: left;
}


.card-content-Description p {
  font-size: 14px;
  color: #555;
  margin: 0 20px;
  margin-right: 20px;
  font-style: italic;
  text-align: left;
}


.button {
  margin-top: 40px;
}

.button button {
  padding: 10px 25px;
  background-color: #00bcd4;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 14px;
}
